*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
}
img{
    width: 100%;
}
/*定义通用的变量*/
:root{
    /*主色调*/
    --primary-color: #ff434f;
    --second-color:#e3e3e3;
    --text-color-lightest:#e7e9ec;
    --text-color-darker:#2e2e2e;
    --text-color-dark:#494949;
    --text-color-gray:#8b8b8b;
    --text-color-dark-gray:#727272;
    --text-color-light-gray:#c6c6c6;
    /*遮罩层颜色*/
    --backdrop-color:rgba(42,42,42,0.69);
}
.container{
    width: 100vw;
}
header{
    /*占浏览器宽度全部*/
    width:100vw;
    height:80px;
    display: grid;
    /*第一列设置三分一，第二列占三分二*/
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    position: relative;
    z-index: 200;

}
.logo{
    font-size: 27px;
    font-weight: 600;
    font-family: sans-serif;
    color:var(--text-color-lightest);
    margin-left: 40px;
}
header nav{
    justify-self: end;
}
header nav i{
    color:var(--text-color-lightest);
}
header nav a{
    color:var(--text-color-lightest);
    text-decoration: none;
    margin: 0 24px;
}

header .burger{
    display: none;
}
header.sticky{
    position: fixed;
    background-color: white;
    box-shadow: 0px 0px 18px rgba(0,0,0,0.3);
    animation: dropdown 0.4s ease-in-out forwards;
}
header.sticky .logo,
header.sticky nav i,
header.sticky nav a{
    color:var(--text-color-darker);
}
@keyframes dropdown {
    from{
        transform: translateY(-100px);
    }to{
    transform: translateY(0);
         }
}
.carousel{
    position:relative;
    top:-80px;
    z-index: 50;
}
.carousel_slide img,.carousel_slide video{
    width: 100vw;
    height:100vh;
    object-fit: cover;
}
.carousel-caption{
    position: absolute;
    z-index: 70;
    color: var(--text-color-lightest);
    text-align: center;
    max-width: 60vw;
}
.carousel_slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-caption h1{
    font-size: 45px;
    font-weight: 600;
}
.carousel-caption h3{
    font-size: 22px;
    margin: 48px 0;
}
.carousel-caption.left{
    max-width: 80vw;
    text-align: left;
}
/*carousel-caption 下 的直接子元素（h1,h3）*/
.carousel-caption > *{
    opacity: 0;
}
.backdrop{
    background: var(--backdrop-color);
    z-index: 60;
    position: absolute;
    width:100%;
    height: 100%;
    left:0;
    top:0;
    opacity: 0.5;
}
.explore-btn{
    padding: 10px 23px;
    background-color:var(--primary-color);
    border: 0;
    border-radius: 4px;
    color:var(--text-color-lightest);
    font-size: 16px;
    cursor: pointer;
    /*去掉点击时出现的蓝色边框*/
    outline:none;
}
/*内容区域*/
/*通用样式*/
.content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section{
    /*栅格布局*/
    display: grid;
    /*对于所有列放在中间*/
    justify-items: center;
    max-width: 1180px;
    padding: 0 80px;
}
.section-bg{
    position:relative;
}
.section-bg::before{
    content: "";
    display: block;
    position: absolute;
    background-color: #f9fbfb;
    width: 100vw;
    height: calc(100% + 40px);
    z-index: -1;
}
.title1{
    font-size: 34px;
    color: var(--text-color-darker);
}
.title1::after{
    content:"";
    display: block;
    width:80%;
    height: 4px;
    background-color:var(--primary-color);
    margin-top: 13px;
    transform: translateX(10%);
}
.intro{
    font-size:18px;
    color: var(--text-color-dark-gray);
    margin: 28px 0 64px 0;
}
/*关于我们*/
.about-us{
    padding-bottom: 32px;
}
.features{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 126px 126px;
    column-gap: 5vw;
}
.feature{
    display: grid;
    /*自定义行和列  icon占两行，title占一行，content占一行*/
    grid-template-areas:
            "icon title"
            "icon content";
    /*<i>标签占64px*/
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 3fr;
}
.feature i.fa{
    grid-area: icon;
    color: var(--primary-color);
    font-size: 34px;
}
.feature-title{
    grid-area: title;
    font-size: 18px;
    color:var(--text-color-darker);
}
.feature-content{
    grid-area:content;
    font-size: 14px;
    color:var(--text-color-dark-gray)
}
/*成功案例*/
.showcases{
    /*还原*/

    max-width: unset;
    padding-top: 73px;
    padding-bottom: 20px;
}
.filter-btns{
    font-size: 16px;
    margin-top: 54px;
    margin-bottom: 35px;
}
.filter-btn{
    margin: 0 7px;
    background-color: var(--second-color);
    border: 0;
    color:var(--text-color-dark-gray);
    padding:10px 17px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.4s;
}
.filter-btn:focus,.filter-btn:active{
    outline: none;
}
.filter-btn.active,.filter-btn:hover{
    background-color: var(--primary-color);
    color:white;
}
.showcases .cases{
    width:100vw;
}
.showcases .case-item{
    width:25vw;
    height:20vw;
    overflow: hidden;
}
.case-item img{
    height:100%;
    /*等比例缩放*/
    object-fit: cover;
}

/*成功案例*/
.service{
    padding-top: 130px;
}
.services{
   display: grid;
    /*3列2行*/
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 34px;
    column-gap: 38px;
}
.service-item{
    display: grid;
    grid-template-areas:
            "icon title"
            "icon content";
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 3fr;
    padding:24px;
    box-shadow: 0px 0px 18px rgba(0,0,0,0.06);
}
.service-item i.fa{
    grid-area: icon;
    font-size: 42px;
    color:var(--primary-color);
    padding-top: 6px;
}
.service-item .service-title{
    grid-area: title;
    color:var(--text-color-darker);
    font-size:22px;
}
.service-item .service-content{
    grid-area:content;
    color:var(--text-color-dark-gray);
    line-height: 30px;
    font-size: 14px;
    margin-top: 8px;
}
/*团队介绍*/
.team-intro{
    padding-top:65px;
    margin-top: 50px;
    padding-bottom: 50px;
}
.team-numbers{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    column-gap: 20px;
    margin-top:78px;

}
.team-number{
    background-color: white;
    box-shadow: 0px 0px 24px rgba(0,0,0,0.2);
    text-align: center;
    padding-bottom: 28px;
    transition: 0.4s;
    display: grid;
    justify-items: center;
}
.profile-image{
    /*蒙版*/
    overflow: hidden;
}
.profile-image .img{
    width: 100%;
    height: 390px;
    object-fit: cover;
    object-position: top center;
}
.team-number .name{
    margin-top: 18px;
    font-size: 18px;
    font-weight: 500;
    color:var(--text-color-darker);
}
.team-number .position{
    color:var(--text-color-dark-gray);
    margin-top: 12px;
    margin-bottom: 18px;
}
.social-links{
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.social-links li{
    list-style: none;
}
.social-links li a{
    color:var(--text-color-dark);
    text-decoration: none;
}
.team-number:hover{
    transform: translateY(-10px) scale(1.01);
    box-shadow: 0px 0px 36px rgba(0,0,0,0.1);
}
/*数据部分*/
.data-section{
    max-width: unset;
    width: 100vw;
    height:240px;
    background-image: url("../images/adult-business-computer-contemporary-380769.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    /*minmax()第一参数最小值，第二参数最大值*/
    grid-template-columns: repeat(4,minmax(auto,220px));
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 20;
}
.data-section::before{
    content: "";
    display: block;
    position: absolute;
    background-color: var(--backdrop-color);
    width: 100%;
    height:100%;
    z-index: 1;
}
.data-piece{
    width: 250px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    /*所有元素水平居中*/
    justify-items: center;
    color: white;
    position: relative;
    z-index: 40;
}
.data-piece i.fa{
    font-size: 36px;
}
.data-piece .num{
    margin-top: 7px;
    font-size: 30px;
    font-weight: 600;
}
.data-piece .data-desc{
    margin-top: 7px;
    font-size: 15px;
}
/*公司活动*/
.company-activities{
    margin-top: 85px;
}
.activities{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    column-gap: 34px;
}
.activity{
    box-shadow: 0px 0px 34px rgba(0,0,0,0.1);
    padding: 24px;
    transition: 0.4s;
    position: relative;

}
.act-image-wrapper{
    height: 265px;
    overflow: hidden;
    margin: -24px -24px 0;
}
.act-image-wrapper .img{
    min-height: 300px;
    /*自动拉伸*/
    object-fit: cover;
}
.activity .meta{
    margin-top: 20px;
    margin-bottom: 12px;
    color: var(--text-color-dark-gray);
    font-size: 12px;
    display: flex;
}
.activity .meta >p:last-child{
    margin-left: 70px;
}
.act-title{
    font-size: 16px;
    color: var(--text-color-dark);
    margin-bottom: 18px;
}
.activity article{
    color: var(--text-color-gray);
    letter-spacing: 0.54px;
    line-height: 29px;
    font-size: 14px;
}
.activity .read-more-btn{
    bottom: 0;
    right: 0;
    margin-bottom: 2px;
    position: absolute;
    border: 0;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    padding:6px 10px;
    font-size: 10px;

}
.activity .read-more-btn:hover{
    cursor:pointer;
    color:white;;
    background-color: #ff2c2e;
}
.activity:hover{
    transform: translateY(-8px) scale(1.01);
    box-shadow: 0px 0px 34px rgba(0,0,0,0.5);
}
/*底部信息*/
footer{
    margin-top: 120px;
    background-color: #181818;
    padding-top: 72px;
    padding-bottom: 24px;
}
.footer-menus{
    display: flex;
    width: 100%;
    max-width: 1180px;
    padding: 0 70px;
    position: relative;
    justify-content: center;
}
.contact-us{
    flex: 4;
    justify-self: start;
    color:var(--text-color-lightest)
}
.contact-us p:not(:first-child){
    padding-bottom: 16px;
}

.footer-menu{
    flex: 2;
}
.menu-title{
    font-size: 16px;
    color:white;
    font-weight: 500;
    margin-bottom: 20px;
}
.menu-items li{
    list-style: none;
    padding-bottom: 8px;
}
.menu-items li a{
    text-decoration: none;
    font-weight: 300;
    color:var(--text-color-light-gray);
}

.icp-info{
    margin-top: 24px;
    margin-bottom: 16px;
}
.icp-info,.rights{
    text-align: center;
    justify-self: center;
    color: white;
    font-size: 13px;
}
.scroll-to-top{
    display: none;
}
.scroll-to-top a{
    width: 25px;
    height: 25px;
    font-size: 12px;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
    position: fixed;
    text-align: center;
    padding: 5px 3px 0px;
    right: 20px;
    bottom: 80px;
    z-index: 999;
    transition: 0.4s;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

@media (max-width: 1080px){
    header{
        grid-template-columns: repeat(2,1fr);
    }
    header nav{
        display: none;
    }
    header .burger{
        display: block;
        width: 20px;
        height:6px;
        position: relative;
        justify-self: end;
        margin-right: 30px;
        cursor: pointer;
    }
    .burger-line1,.burger-line2,.burger-line3{
        width: 20px;
        height:2px;
        background-color: var(--text-color-lightest);
    }
    .burger-line1{
        position: absolute;
        top:-6px;
    }
    .burger-line3{
        position: absolute;
        top:6px;
    }
    header.open nav{
        display: grid;
        position: absolute;
        left:0;
        top:0;
        width:100vw;
        height:100vh;
        background-color: white;
        grid-auto-rows: max-content;
        justify-items: end;
        opacity: 0;
        animation: slideDown 0.6s ease-out forwards;

    }
    header.open nav > *{
        color: var(--text-color-darker);
        animation:showMenu 0.5s linear forwards 0.4s;
        font-size: 16px;
        margin:4px 50px;
        opacity: 0;
    }
    header.open nav > i.fa{
        margin-bottom: 15px;
    }
    header.open .burger-line1,header.open .burger-line2,header.open .burger-line3,
    header.sticky .burger-line1,header.sticky .burger-line2,header.sticky .burger-line3{
        background-color: var(--text-color-darker);
    }
    header.open .burger-line1{
     transform:rotate(45deg) translate(3px,5px);
    }
    header.open .burger-line2{
        transform: translateX(5px);
       opacity: 0;
    }
    header.open .burger-line3{
        transform: rotate(-45deg) translate(3px,-5px);
    }
    header.open .logo{
        z-index: 40;
        color: var(--text-color-darker);
    }
    @keyframes slideDown {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: 100vh;
            padding-top: 70px;
            opacity: 1;
        }
    }
    @keyframes showMenu {
        from{
            opacity: 0;
            transform: translateY(-1vh);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .service-item .service-title{
        font-size: 18px;
    }
    .service-item .service-content{
        font-size: 12px;
        line-height: 22px;
    }
    .team-numbers{
        grid-template-columns: repeat(2,1fr);
        column-gap: 6vw;
        row-gap: 40px;
    }
    .activities{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 992px){
    .carousel-caption h1{
        font-size: 35px;
    }
    .carousel-caption h3{
        font-size: 18px;
    }
    .features,.services{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: unset;
    }
    .data-section{
        grid-template-columns: repeat(2,minmax(200px,auto));
        padding:24px 0;
        row-gap: 24px;
        background-size: 200%;
    }
    .showcases .case-item{
        width: calc(100vw / 3);
    }
    .footer-menus{
        padding:0 20px;
    }

}
@media (max-width: 768px) {
    section,.footer-menus{
        padding: 0 60px;
    }
    .footer-menus{
        display: grid;
        grid-template-columns: 2fr repeat(2,1fr);
        row-gap: 24px;
    }
    .contact-us{
        /**/
        grid-row: 1 / 3;
    }
    .activities{
        grid-template-columns: repeat(1,1fr);
        row-gap: 45px;
    }
    .data-section{
        grid-template-columns: repeat(1,1fr);
        background-size: 250%;
        height: auto;
    }
    .team-numbers{
        grid-template-columns: repeat(1,350px);
        row-gap: 50px;
    }
   .profile-image{
       height: 250px;
   }
   .features,.services{
       grid-template-columns: repeat(1,1fr);
   }
   .showcases .case-item{
       width:calc(100vw / 2);
       height: 30vw;
   }
}
@media(max-width: 576px){
    .carousel-caption h1{
        font-size: 28px;
    }
    .carousel-caption h3{
        font-size: 14px;
    }
    .explore-btn{
        font-size: 12px;
        padding: 5px 15px;
    }
    .showcases .case-item{
        width: 100vw;
        height: 50vw;
    }
    .footer-menus{
        grid-template-columns: 1fr;
    }
}
